<h1>Digital Garden Tools</h1>

<h2> Where does the data come from? </h2>
<p>This app is a demo using a web app to help with gardening.  You can check out my {{#link-to "readings" class = "btn btn-primary btn-sm" }}garden sensors{{/link-to}} and find out what to {{#link-to "plantings" class = "btn btn-primary btn-sm" }}plant today{{/link-to}}.</p>

<p>  The sensor data charted comes from some < a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/" class = "btn btn-primary btn-sm">Raspberry Pi microcomputers</a> I setup with temperature sensors. </p>

<p>The plant calendar info is derived from <a href="https://content.ces.ncsu.edu/central-north-carolina-planting-calendar-for-annual-vegetables-fruits-and-herbs" class = "btn btn-primary btn-sm">NC State's planting calendar chart</a>  Seed starting times for things that must be started indoors (tomatoes, etc) denoted at NC State as **, are started 8 weeks ahead of actual transplant dates. </p> 

<h2> Future Features </h2>
<p>Future ideas for sensors include using < a href="http://climate.ncsu.edu/map/"  class = "btn btn-primary btn-sm"> weather station </a> data for charting and planning plant dates for all US locations</p>

<p>Future ideas for planting calender include allowing user personalization.  User could log in, planting something, keep track of plantings showing harvest dates, personal notes, etc.  User could also get automated email 1x per week for what to plant this week.</p>

<h2> Who & Why?</h2>

<p> You can find out more about me at <a href="http://www.brickstobits.com/p/about-sean.html" class = "btn btn-primary btn-sm"> Bricks To Bits</a> and <a href="http://www.antaresdressage.com/about-sean" class = "btn btn-primary btn-sm"> Antares Dressage</a></p>

<p>I am making these tools because I want to keep my worms alive and producing casting at optimal temps, I want to measure conditions for grafting my tomatoes and peppers, and I want o practice new web application skills using <a href="http://rubyonrails.org/" class = "btn btn-primary btn-sm">Ruby on Rails</a> and <a href="http://emberjs.com/" class = "btn btn-primary btn-sm">Ember</a></p>
