Vegetables, fruit, and herb planting dates for Central North Carolina.

<ul>
  {{#each model as |planting| }}
    {{ planting-item planting=planting plant=planting.plant }}
  {{/each}}
</ul>

Data provided by  @ <a href="https://content.ces.ncsu.edu/central-north-carolina-planting-calendar-for-annual-vegetables-fruits-and-herbs">NC State</a>
